@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Lato&display=swap");
}

.App {
  font-family: "Lato";
  text-align: center;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  min-height: 100vh;
  position: relative;
}

.header {
  grid-area: h;
}

.content {
  grid-area: c;
  padding-bottom: 120px;
}

.footer {
  grid-area: f;
}
